@media print {
  .no-print {
    display: none;
  }
  
  .only-print {
    display: block !important;
    visibility: visible !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #000;
  }

  .break-inside-avoid {
    page-break-inside: avoid;
  }
  
  .page-break {
    page-break-before: always;
  }

  @page {
    size: A4;
    margin: 1.5cm;
  }
}

.only-print {
    display: none;
    visibility: hidden;
}

    