@media print {
  body.print-resume > *:not(.only-print-resume) {
    display: none;
  }
  body.print-cover-letter > *:not(.only-print-cover-letter) {
    display: none;
  }

  .no-print {
    display: none !important;
  }
  
  .only-print-resume,
  .only-print-cover-letter {
    display: block !important;
    visibility: visible !important;
    position: relative;
    color: #000;
  }

  .break-inside-avoid {
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 1.5cm;
  }
}

.only-print-resume,
.only-print-cover-letter {
    display: none;
    visibility: hidden;
}
