@media print {
  body > *:not(#printable-area) {
    display: none;
  }
  
  .no-print {
    display: none !important;
  }
  
  #printable-area {
    display: block;
    visibility: visible;
    position: relative;
    color: #000;
  }
  
  .only-print {
      display: block;
      visibility: visible;
  }

  .break-after-page {
    page-break-after: always;
  }

  .break-inside-avoid {
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 1.5cm;
  }
}

.only-print {
    display: none;
    visibility: hidden;
}